

@media (min-width: 270px) and (max-width: 575.98px) {
 /* HEADER */

 .page-nav {
    height:100px;
}

    .navbar-brand {
       height: 100px;
        min-width: 147px;
        max-width: 147px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:147px;
            height:100px;
        }
    
#FHLogoName {
        top: 21px;
        left: -137px;
        height: 30px;
    }
    .site-navigation{
        height: 100px;
        margin-right: 0px;
    }

/* MAIN */
.main{
    margin: 170px auto 65px;
}
.payment-delivery-container{
    padding: 0 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.turn-back-btn{
    left:32px;
    top: -50px;
    padding: 6px 0;
    font-size: 14px;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }
 .payment-item, .delivery-item{
     grid-template-columns: 1fr;
     margin-bottom: 20px;
 }
 .icon{
    align-items: flex-end;
}
 [class$="item-description"]{
    text-align: center;
    padding: 0;
 }
ul.payment-item-description{
    text-align: start;
    padding: 0 0 0 20px;
}
 [class$="item-title"]{
     font-size: 18px;
 }
 .delivery-title{
     padding-top:40px;
 }
 
 /* FOOTER */
 .footer-container{
    padding: 0 4% 10px 4%;
    display: grid;
    grid-template-areas: "copyright social";
    grid-template-columns: 7fr 5fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    display: none;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
.fa-copyright{
    font-size: 16px;
}
.year2020{
    font-size: 16px;
}
.fh{
    font-size: 16px;
    padding-left: 5px;
}
.est{
    font-size: 14px;
}
}

@media (min-width: 450px) and (max-width: 575.98px) {
/* MAIN */
.main{
    margin: 190px auto 65px;
}
.about-container{
    margin: 40px auto;
}
.turn-back-btn{
    left:45px;
    top: -30px;
    padding: 6px 0;
    font-size: 14px;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }
 .about-header{
    font-size: 24px;
}
 .about-description{
     font-size: 14px;
     line-height: 1.7;
 }
 #fh{
     font-size: 16px;
 }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    /* HEADER */
    .page-nav {
        height:100px;
    }
    
        .navbar-brand {
           height: 100px;
            min-width: 147px;
            max-width: 147px;
        }
    
        #FHLogoDog, #FHLogoName {
            position: relative;
        }
        
        #FHLogoDog{
                width:147px;
                height:100px;
            }
        
    #FHLogoName {
            top: 21px;
            left: -137px;
            height: 30px;
        }
        .site-navigation{
            height: 100px;
            margin-right: 0;
        }

/* MAIN */
.main{
    margin: 170px auto 50px;
}
.turn-back-btn{
    left:15px;
    top: -45px;
    padding: 6px 0;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }

/* FOOTER */
.footer-container{
    display: grid;
    grid-template-areas: "copyright social";
    grid-template-columns: 1fr 1fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    display: none;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
}


@media (min-width:768px) and (max-width: 991.98px) { 

      /* HEADER */

 .page-nav {
    height:120px;
}

    .navbar-brand {
       height: 120px;
        min-width: 176px;
        max-width: 176px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:176px;
            height:120px;
        }
    
#FHLogoName {
        top: 25px;
        left: -164px;
        height: 36px;
    }
    .site-navigation{
        height: 120px;
        margin-right: 0;
    }

/* MAIN */
.turn-back-btn{
    left: 15px;
    top: -45px;
    padding: 6px 0;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }

/* FOOTER */
.footer-container{
    display: grid;
    grid-template-areas: "copyright cooperation social";
    grid-template-columns: 4fr 4fr 4fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    grid-area: cooperation;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
}

 @media (min-width: 992px) and (max-width: 1199.98px)  {

   /* HEADER */

 .page-nav {
    height:120px;
}

    .navbar-brand {
       height: 120px;
        min-width: 176px;
        max-width: 176px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:176px;
            height:120px;
        }
    
#FHLogoName {
        top: 25px;
        left: -164px;
        height: 36px;
    }
.site-navigation{
    height: 120px;
}

/* MAIN */
.turn-back-btn{
    left:45px;
    top: -45px;
    padding: 6px 0;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }

/* FOOTER */
 .footer-container{
     display: grid;
     grid-template-areas: "copyright tel cooperation social";
     grid-template-columns: repeat(4,3fr);
 }
 .copyright-block{
     grid-area: copyright;
 }
 .phone-number{
     grid-area: tel;
 }
 .social-media-block{
     grid-area: social;
     justify-content: flex-end;
 }
 .cooperation-block{
     grid-area: cooperation;
 }
 .payment-systems{
     display: none;
 }
}