

@media (min-width: 270px) and (max-width: 575.98px) {
 /* HEADER */

 .page-nav {
    height:100px;
}

    .navbar-brand {
       height: 100px;
        min-width: 147px;
        max-width: 147px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:147px;
            height:100px;
        }
    
#FHLogoName {
        top: 21px;
        left: -137px;
        height: 30px;
    }
    .site-navigation{
        height: 100px;
        margin-right: 0px;
    }

   
 /* BANNER */
    
 .banner {
    margin-top: 100px;
 }

    .carousel-img {
        max-height: 220px;
        min-height: 220px;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;

    }

.uppercase{
    font-size: 20px;
}

.carousel-caption-p{
    font-size: 14px;
}

/* MAIN */

.catalog-name{
    font-size: 24px;
}

.catalog-items{
    padding: 0px;
}

.catalog-item{
    padding: 0 5px;
    margin: 0px;
}

.catalog-item-description{
    padding: 0 5px;
}

.catalog-item-name{
    font-size: 18px;
}

.catalog-item-color{
    font-size: 14px;
}

.catalog-item-price{
    font-size: 16px;
}

#reviews .img-thumbnail {
    height: 100px;
}

#reviews h3{
font-size: 20px;
}

#reviews p{
    font-size: 14px;
    }

    #reviews {
        height: auto;
    }

    #review1, #review2, #review3 {
        height: 300px;
    }

    #reviews .carousel-caption{
        position: absolute;
    }

 /* FOOTER */
 .footer-container{
    padding: 0 4% 10px 4%;
    display: grid;
    grid-template-areas: "copyright social";
    grid-template-columns: 7fr 5fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    display: none;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
.fa-copyright{
    font-size: 16px;
}
.year2020{
    font-size: 16px;
}
.fh{
    font-size: 16px;
    padding-left: 5px;
}
.est{
    font-size: 14px;
}
}





@media (min-width: 270px) and (max-width: 400px){
        
    .carousel-img {
        max-height: 170px;
        min-height: 170px;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;

    }

    .catalog-container{
        padding-left: 10px;
        padding-right: 10px;
    }


}







@media (min-width: 576px) and (max-width: 767.98px) {
    /* HEADER */
    .page-nav {
        height:100px;
    }
    
        .navbar-brand {
           height: 100px;
            min-width: 147px;
            max-width: 147px;
        }
    
        #FHLogoDog, #FHLogoName {
            position: relative;
        }
        
        #FHLogoDog{
                width:147px;
                height:100px;
            }
        
    #FHLogoName {
            top: 21px;
            left: -137px;
            height: 30px;
        }
        .site-navigation{
            height: 100px;
            margin-right: 0px;
        }
    
       /* BANNER */
    
       .banner {
        margin-top: 100px;
     }
    
        .carousel-img {
            max-height: 250px;
            min-height: 250px;
        }
    
    .uppercase{
        font-size: 22px;
    }
    
    .carousel-caption-p{
        font-size: 16px;
    }
    
    .catalog-item-name{
        font-size: 24px;
    }
    
    .catalog-item{
        margin: 15px 0;
    }
    .cooperation-items{
        font-size: 16px;
    } 

    /* FOOTER */
.footer-container{
    display: grid;
    grid-template-areas: "copyright social";
    grid-template-columns: 1fr 1fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    display: none;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
}


@media (min-width:768px) and (max-width: 991.98px) { 

      /* HEADER */

 .page-nav {
    height:120px;
}

    .navbar-brand {
       height: 120px;
        min-width: 176px;
        max-width: 176px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:176px;
            height:120px;
        }
    
#FHLogoName {
        top: 25px;
        left: -164px;
        height: 36px;
    }
    .site-navigation{
        height: 120px;
        margin-right: 0px;
    }

   /* BANNER */

   .banner {
    margin-top: 120px;
 }

    .carousel-img {
        max-height: 320px;
        min-height: 320px;
    }

    .carousel-img {
        max-height: 320px;
        min-height: 320px;        
        max-width: 800px;
        background-size: contain;
        background-position: center;
        background-repeat: repeat;
    }
 
.uppercase{
    font-size: 22px;
}

.carousel-caption-p{
    font-size: 16px;
}

.catalog-item-name{
    font-size: 24px;
}

.catalog-item{
    margin: 15px 0;
}
.cooperation-items{
    font-size: 16px;
}

/* FOOTER */
.footer-container{
    display: grid;
    grid-template-areas: "copyright cooperation social";
    grid-template-columns: 4fr 4fr 4fr;
}
.copyright-block{
    grid-area: copyright;
}
.social-media-block{
    grid-area: social;
    justify-content: flex-end;
}
.cooperation-block{
    grid-area: cooperation;
}
.phone-number{
    display: none;
}
.payment-systems{
    display: none;
}
}

 @media (min-width: 992px) and (max-width: 1199.98px)  {

   /* HEADER */

 .page-nav {
    height:120px;
}

    .navbar-brand {
       height: 120px;
        min-width: 176px;
        max-width: 176px;
    }

    #FHLogoDog, #FHLogoName {
        position: relative;
    }
    
    #FHLogoDog{
            width:176px;
            height:120px;
        }
    
#FHLogoName {
        top: 25px;
        left: -164px;
        height: 36px;
    }
.site-navigation{
    height: 120px;
    margin-right: 0px;
}

    /* BANNER */

.banner {
    margin-top: 120px;
 }

    .carousel-img {
        max-height: 400px;
        min-height: 400px;
    }

/* REVIEWS */

#reviews {
    height: 300px;
}

#review1, #review2, #review3 {
    height: 350px;
}


 /* FOOTER */
 .footer-container{
     display: grid;
     grid-template-areas: "copyright tel cooperation social";
     grid-template-columns: repeat(4,3fr);
 }
 .copyright-block{
     grid-area: copyright;
 }
 .phone-number{
     grid-area: tel;
 }
 .social-media-block{
     grid-area: social;
     justify-content: flex-end;
 }
 .cooperation-block{
     grid-area: cooperation;
 }
 .payment-systems{
     display: none;
 }
}