/* body {
    background-color: rgb(251,251,251);
    font-family: 'Roboto', sans-serif;
    color: black;
} */

/* *{border:1px solid red; box-sizing:border-box} */

/* HEADER */
/* 
.page-nav {
    padding:0px;
    margin: 0px;
    height:150px;
} */
/* 
    .navbar-brand {
        margin: 0;
        padding: 0;
        height: 150px;
        width: 220px;
    } */

/* #FHLogoDog, #FHLogoName {
    position: relative;
}

#FHLogoDog{
        width:220px;
        height:150px;
        z-index:2;
    }

#FHLogoName {
    top: 32px;
    left: -205px;
    height: 45px;
    z-index: 1;
}
 */
/* 
.fontawesome-icon {
    color: black;
    font-size: 28px;
    padding: 0 4px;
} */
/* 
a .fontawesome-icon:hover {
       color: darkgray;
    } */


.dropdown-menu {
    border: none;
    background: none;
    min-width: 0;
}
.dropdown-item:hover{
    border: none;
    background: none;
}
#dropdownTeldiv {
    max-width: 32px;
}

.navbar-collapse .nav-item {
   margin-left:15px;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight:700;
}

/* BANNER */

.banner {
    margin-top: 150px;
    background: radial-gradient(ellipse,rgb(248,248,240), rgb(183,183,176));
   }

    .banner .carousel-model {
        display: flex;
        justify-content: center;
    }

    .carousel-img {
        max-height: 450px;
        min-height: 450px;
        max-width: 1200px;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
    }

.carousel-model #carousel-caption-model1 {
    position: absolute;
    top: 10%;
    left: 60%;
}

.carousel-model #carousel-caption-model2 {
    position: absolute;
    top: 10%;
    right: 80%;
}

.carousel-model #carousel-caption-model3 {
    position: absolute;
    top: 10%;
    left: 60%;
}

.carousel-model #carousel-caption-model4 {
    position: absolute;
    top: 50%;
    left: 70%;
}

.carousel-model #carousel-caption-model5 {
    position: absolute;
    top: 10%;
    left: 70%;
}

.uppercase{
    text-transform:uppercase;
    color: rgb(17,18,13);
}

.carousel-caption{
    min-width: 250px;
}

.carousel-caption-p{
    font-size: 24px;
    color: rgb(138, 138, 138);
}

/* .carousel-control-prev, .carousel-control-next{
    max-width: 5%;
} */


/* CATALOG */


.catalog-item-description{
    margin: 20px 0px;
}

.catalog-name {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(27, 27, 27);
}

.catalog-container{
    margin-top: 30px;
}

.catalog-item{
    margin: 16px 0;
}

.catalog-item-color{
    color:rgb(131,128,121);
    margin-bottom: 0.5rem;
}

.catalog-item-price{
    color:rgb(183,107,38);
}


#colo{
    color:rgb(183,107,38);
    font-size: 30px;
}


a, a:hover, a:active {
    color: rgb(27, 27, 27);
    text-decoration: none;
}

.page-footer{
    padding: 0px;
    margin: 0px;
}

.img-thumbnail {
    border: none;
}

#thumbnail:hover {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

.btn-default {
    border: 1px solid rgb(27, 27, 27);
}

/* REVIEWS */

#reviews {
    height: 400px;
}

#review1, #review2, #review3 {
    height: 400px;
}
.carousel-caption {
    color: black;
    width: auto;
}

.reviews-indicators{
    display: none;
}

#reviews .img-thumbnail {
    height: 200px;
}

/* FOOTER */

.footer-container{
    padding: 0 2% 10px 2%;  
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 4fr;
    align-items: center;
}
.copyright-block{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.copyright-block-name{
    display:flex;
    flex-direction: row;
}
.fa-copyright{
    font-size: 24px;
    padding: 3px 4px 0 4px;
}
.fh {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.year2020{
    font-weight:bold; 
    font-size:20px;
}
.est{
    display: inline;
    padding-left: 2%;
}
.phone-number{
    display:flex;
    align-content: center;
    justify-content: center;
}
.social-media-block{
    list-style: none;   
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.cooperation-block{
    display:flex;
    align-content: center;
    justify-content: space-around;
}
.cooperation-items{
    display: flex;
    align-items: center;
}
.contacts,.cooperation{
    text-decoration: none;
    color: #111;
}
.divider{
    padding: 0 4px;
}
.payment-systems{
    display:flex;
}