body {
    background-color: rgb(251,251,251);
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* *{border:1px solid red; box-sizing:border-box} */

/* HEADER */

.page-nav {
    padding:0px;
    margin: 0px;
    height:150px;
}

    .navbar-brand {
        margin: 0;
        padding: 0;
        height: 150px;
        width: 220px;
    }

#FHLogoDog, #FHLogoName {
    position: relative;
}

#FHLogoDog{
        width:220px;
        height:150px;
        z-index:2;
    }

#FHLogoName {
    top: 32px;
    left: -205px;
    height: 45px;
    z-index: 1;
}

.dropdown-menu {
    border: none;
    background: none;
    min-width: 0;
}
.dropdown-item:hover{
    border: none;
    background: none;
}
#dropdownTeldiv {
    max-width: 32px;
}

.navbar-collapse .nav-item {
   margin-left:15px;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight:700;
}

.fontawesome-icon {
    color: black;
    font-size: 28px;
    padding: 0 4px;
}

.fontawesome-blog-icon {
    color: black;
    font-size: 40px;
    padding: 3px;
    border-radius: 3px;
}

a .fontawesome-icon:hover {
       color: darkgray;
    }
/* CATALOG */

.main{
    margin: 230px 0 0;
}
.blog-container{
    max-width: 1000px;
    margin: 40px auto;
    position: relative;
}
div[class^="section"]{    
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    padding: 20px 20px;
    margin-bottom: 30px;
    box-shadow: -1px -1px 10px 1px rgb(200, 200, 200);
    border-radius: 5px;
}
div[class^="section"]:nth-child(2n){    
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 20px 20px;
    margin-bottom: 30px;
}
div[class$="img"]{
    position: relative;
}
img[class$="img-photo"]{
        width: 330px;
        height: 250px;
        padding: .25rem;
        background-color: #fff;
        border-radius: .25rem;
}
div[class$="logo"]{ 
    width: 50px;
    height: 50px;
    background-color: rgb(233, 233, 233);
    border: 2px solid rgb(92, 92, 92);
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px rgb(92, 92, 92);
    position: absolute;
    left: 5px;
    top: 5px;
}
div[class$="text"]{
    padding: 0 30px;
}

.turn-back-btn{
    position: absolute;
    top: -50px;
    padding: 6px 0;
    font-size: 16px;
    border: none;
    background-color: transparent;
 }
 .return{
     display: inline-flex;
     align-items: center;
 }
a, a:hover{
    color: black;
    text-decoration: none;
}

/* FOOTER */
.footer-container{
    padding: 0 2% 10px 2%;  
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 4fr;
    align-items: center;
}
.copyright-block{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.copyright-block-name{
    display:flex;
    flex-direction: row;
}
.fa-copyright{
    font-size: 24px;
    padding: 3px 4px 0 4px;
}
.fh {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.year2020{
    font-weight:bold; 
    font-size:20px;
}
.est{
    display: inline;
    padding-left: 2%;
}
.phone-number{
    display:flex;
    align-content: center;
    justify-content: center;
}
.social-media-block{
    list-style: none;   
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.cooperation-block{
    display:flex;
    align-content: center;
    justify-content: space-around;
}
.cooperation-items{
    display: flex;
    align-items: center;
}
.contacts,.cooperation{
    text-decoration: none;
    color: #111;
}
.divider{
    padding: 0 4px;
}
.payment-systems{
    display:flex;
}