body {
    background-color: rgb(251,251,251);
    font-family: 'Roboto', sans-serif;
    color: black;
}

/* *{border:1px solid red; box-sizing:border-box} */

/* HEADER */

.page-nav {
    padding:0px;
    margin: 0px;
    height:150px;
}

    .navbar-brand {
        margin: 0;
        padding: 0;
        height: 150px;
        width: 220px;
    }

#FHLogoDog, #FHLogoName {
    position: relative;
}

#FHLogoDog{
        width:220px;
        height:150px;
        z-index:2;
    }

#FHLogoName {
    top: 32px;
    left: -205px;
    height: 45px;
    z-index: 1;
}

.dropdown-menu {
    border: none;
    background: none;
    min-width: 0;
}
.dropdown-item:hover{
    border: none;
    background: none;
}
#dropdownTeldiv {
    max-width: 32px;
}

.navbar-collapse .nav-item {
   margin-left:15px;
}

.navbar-nav .nav-link{
    text-transform: uppercase;
    font-weight:700;
}

.fontawesome-icon {
    color: black;
    font-size: 28px;
    padding: 0 4px;
}

a .fontawesome-icon:hover {
       color: darkgray;
    }
/* CATALOG */

.main{
    margin: 190px auto 10px;
}
.contacts-container{
    max-width: 1000px;
    margin: 40px auto 30px; 
    position: relative; 
    display: flex;
}
.turn-back-btn{
    position: absolute;
    left:-70px;
    border: none;
    background-color: transparent;
}
.contacts-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
h5{
    font-weight: 700;
}
.contacts-description{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 50px;
   background-color: rgba(251, 251, 251, 0.2);    
}
.contacts-description .social-media-block{
    margin-bottom: 25px;
}
a, a:hover{
    color: black;
    text-decoration: none;
}
.contacts-title{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin:40px auto;
}
.contacts-text{
    margin: 25px 0;    
    width: 400px;
}
.contacts-text-lighter{
    font-size: 14px;
    width: 360px;
    display: inline-flex;
    margin-bottom: 30px;
}
/* FOOTER */
.footer-container{
    padding: 0 2% 10px 2%;  
    display: grid;
    grid-template-columns: 3fr 2fr 3fr 4fr;
    align-items: center;
}
.copyright-block{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.copyright-block-name{
    display:flex;
    flex-direction: row;
}
.fa-copyright{
    font-size: 24px;
    padding: 3px 4px 0 4px;
}
.fh {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.year2020{
    font-weight:bold; 
    font-size:20px;
}
.est{
    display: inline;
    padding-left: 2%;
}
.phone-number{
    display:flex;
    align-content: center;
    justify-content: center;
}
.social-media-block{
    list-style: none;   
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.cooperation-block{
    display:flex;
    align-content: center;
    justify-content: space-around;
}
.cooperation-items{
    display: flex;
    align-items: center;
}
.contacts,.cooperation{
    text-decoration: none;
    color: #111;
}
.divider{
    padding: 0 4px;
}
.payment-systems{
    display:flex;
}