.header{
  height: 100px;
  box-shadow: 0 -20px 60px 10px $color-shadow;
  display: flex;  
}
.logo{
  max-height: 100px;
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}
.navbar-brand{
  display: flex;
  padding: 20px 0 20px;
}
.FHLogo{
  display: flex;
  align-self: flex-end;
  max-height: 60px;
}
@import "nav-top";
@import "burger";
@import "nav-bottom";