.btn{
  display: inline-block;
  border-radius: 3px;
  padding: 7px 12px;
  text-decoration: none;
  border: 1px solid $color-btn-border;
  &-default{
    background-color: $color-btn-background;
    transition: 0.3s;
    &:hover{
      background-color: darken($color: $color-btn-background, $amount: 7%);
    }
  }
  &-text-uppercase{
    text-transform: uppercase;
  }
}