section.aboutUs
  .container
    include turn-back-btn
    h2.aboutUs-title О нас
    .aboutUs-desc
      span.fh Fox Hunter
      .aboutUs-text - это молодой современный бренд кожаных изделий, с высоким качеством и функциональным дизайном, от которого вы испытаете зависть своих друзей. Каждая модель выполняется вручную с индивидуальным подходом и с особым вниманием к мелочам. Цель нашего бренда - создание авторских изделий из натуральной кожи, которые превосходят по всем параметрам фабричные конвейерные изделия. Мы создаём и контролируем все процессы на всех этапах нашего производства - от выбора материала, разработки дизайна, выполнения самого изделия до маркетинга и реализации продукции. Поэтому мы можем громко заявлять о качестве нашей продукции. Приобретая наше изделие, вы не просто приобретаете надёжный аксессуар, а стаёте частью семьи 
      span.fh Fox Hunter.
      div Добро пожаловать в семью!
      .aboutUs-text Подписаться на наш Instagram
        i(class="fas fa-long-arrow-alt-right")
        a(href='https://www.instagram.com/foxhunter.leather/')
          span.fontawesome-icon
            i(class="fab fa-instagram")