section.catalog
  .container
    ul.catalog_list
      -var items = [,,,,,,,,,,,] 
      -var href = ['../pages/catalog-item1.html','../pages/catalog-item2.html','../pages/catalog-item3.html','../pages/catalog-item4.html','../pages/catalog-item5.html','../pages/catalog-item6.html','../pages/catalog-item7.html','../pages/catalog-item8.html','../pages/catalog-item9.html','../pages/catalog-item10.html','']
      -var alt = ['cartholder_BitB102caFH','cartholder_BitB102brFH','cartholder_BitB102blFH','wallet_ShellC1032caFH','wallet_ShellC1032brFH','wallet_ShellC1032blFH','purse_WingD1084blFH','purse_LeafD5164blFH','necessar_KegE1010blFH','purse_BigBossF2123blFH','individual']
      -var src = ['../../images/info/catalog/cartholder_BitB102caFH.png','../../images/info/catalog/cartholder_BitB102brFH.png','../../images/info/catalog/cartholder_BitB102blFH.png','../../images/info/catalog/wallet_ShellC1032caFH.png','../../images/info/catalog/wallet_ShellC1032brFH.png','../../images/info/catalog/wallet_ShellC1032blFH.png','../../images/info/catalog/purse_WingD1084blFH.png','../../images/info/catalog/purse_LeafD5164blFH.png','../../images/info/catalog/necessar_KegE1010blFH.png','../../images/info/catalog/purse_BigBossF2123blFH.png','../../images/info/catalog/individual.png']
      -var title = ['кардхолдер Bit','кардхолдер Bit','кардхолдер Bit','кошелек Shell','кошелек Shell','кошелек Shell','портмоне Wing','портмоне Leaf','несессер Keg','портмоне BigBoss','индивидуальный заказ']
      -var color = ['Морковный','Коричневый','Черный','Морковный','Коричневый','Черный','Черный','Черный','Черный','Черный',' ']
      -var price = ['250 грн.','250 грн.','250 грн.','1000 грн.','1000 грн.','1000 грн.','1300 грн.','1300 грн.','1100 грн.','2300 грн.','']
      include catalog-mixin
      +catalog(items,'catalog',href,alt,src,title,color,price)