section.contacts
  .container
    include turn-back-btn
    img.contacts-img(src='../images/info/Instagram/26.jpg' alt='img-')
    .contacts-desc
      h2.contacts-title Как заказать?
      .contacts-text Подать заявку на сайте можно кликнув "Заказать" на данной модели. Мы есть в соцсетях. Для уточнения заказа пишите в direct.
      .contacts-text-lighter При согласовании всех нюансов и пожеланий, Вам будет выслан эскиз с описанием изделия. После подтверждения модели, Ваш заказ поступит в работу.
      a.contacts-phone-number(href='tel:+380 97 878 1258') +380 97 878 1258
      a.contacts-email(href='mailto:foxhunter.ispro@gmail.com') foxhunter.ispro@gmail.com