footer.footer
  .copyright-block
    .copyright-block_name
      i(class="fontawesome-icon far fa-copyright")
      .year2020 2020
      .fh Fox Hunter
    .est made in Kiev / est. 2018
  .phone-number +380 97 878 1258
  .social-media-block
    .social-media-block_up
      a(href="" alt="facebook")
        i(class="fontawesome-icon fab fa-facebook-square")
      a(href="" alt="instagram")
        i(class="fontawesome-icon fab fa-instagram")
      a(href="" alt="pinterest")
        i(class="fontawesome-icon fab fa-pinterest")
    .social-media-block_down
      a(href="" alt="telegram")
        i(class="fontawesome-icon fab fa-telegram")
      a(href="" alt="viber")
        i(class="fontawesome-icon fab fa-viber")
      a(href="" alt="whatsapp")
        i(class="fontawesome-icon fab fa-whatsapp")
  .cooperation-block
    .cooperation-items
      a.contacts(href="#") Контакты
      span.divider |
      a.cooperation(href="#") Сотрудничество
    .payment-systems
      i(class="fontawesome-icon fab fa-cc-visa fa-2x")
      i(class="fontawesome-icon fab fa-cc-mastercard fa-2x")