header.header
  .logo
    a.navbar-brand(href="index.html")
      img(src="../images/info/logo/FHLogo_cr2.png" class="FHLogo" alt="FHLogo" title="Fox Hunter")
  .site-navigation
    include nav-top
    include burger
    include nav-bottom