nav.nav-top
      //- input(type="text" class="form-control" placeholder="Поиск")
      //- button.btn-search(type="button")
      //-   span.fontawesome-icon#icon-search
      //-     i(class="fas fa-search")
      .dropdown.dropdown-lang
        a.nav-link(href="#") RU
        .dropdown-menu
          a.dropdown-item(href="#") EN
      .dropdown
        a.nav-link(href="#")
          span.fontawesome-icon
            i(class="fas fa-phone")
        .dropdown-menu
          a.dropdown-item(href="tel:+380978781258") +380978781258
      .cart
        a.nav-link(href="#")
          span.fontawesome-icon
            i(class="fas fa-shopping-cart")